Memorama-Client/Memorama-Client/Connected Services/ServidorMemorama/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Contratos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contratos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoVerificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoVerificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPartidas" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Partida" nillable="true" type="tns:ArrayOfPartida" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PuntajeTotal" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Reporte" nillable="true" type="tns:ArrayOfReporte" />
      <xs:element minOccurs="0" name="SolicitudAmistad" nillable="true" type="tns:ArrayOfSolicitudAmistad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="ArrayOfPartida">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Partida" nillable="true" type="tns:Partida" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPartida" nillable="true" type="tns:ArrayOfPartida" />
  <xs:complexType name="Partida">
    <xs:sequence>
      <xs:element minOccurs="0" name="Difucultad" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EstadoPartida" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdPartida" type="xs:int" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Puntaje" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Tiempo" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Partida" nillable="true" type="tns:Partida" />
  <xs:complexType name="ArrayOfReporte">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Reporte" nillable="true" type="tns:Reporte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReporte" nillable="true" type="tns:ArrayOfReporte" />
  <xs:complexType name="Reporte">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdReporte" type="xs:int" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reporte" nillable="true" type="tns:Reporte" />
  <xs:complexType name="ArrayOfSolicitudAmistad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SolicitudAmistad" nillable="true" type="tns:SolicitudAmistad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSolicitudAmistad" nillable="true" type="tns:ArrayOfSolicitudAmistad" />
  <xs:complexType name="SolicitudAmistad">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdSolicitud" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:Usuario" />
      <xs:element minOccurs="0" name="UsuarioDestinatario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioRemitente" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolicitudAmistad" nillable="true" type="tns:SolicitudAmistad" />
  <xs:simpleType name="LoginResults">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ContraseñaIncorrecta">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NoExisteUrsuario">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UsuarioEncontrado">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LoginResults" nillable="true" type="tns:LoginResults" />
  <xs:simpleType name="ResultadosRegistro">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RegistradoConExito">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NoEsPosibleRegistrar">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResultadosRegistro" nillable="true" type="tns:ResultadosRegistro" />
  <xs:simpleType name="ResultadoValidacion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CodigoCorrecto">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CodigoIncorrecto">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NoseEncuentraElUsuario" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResultadoValidacion" nillable="true" type="tns:ResultadoValidacion" />
  <xs:complexType name="ArrayOfUsuarioRanking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuarioRanking" nillable="true" type="tns:UsuarioRanking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarioRanking" nillable="true" type="tns:ArrayOfUsuarioRanking" />
  <xs:complexType name="UsuarioRanking">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Puntuacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioRanking" nillable="true" type="tns:UsuarioRanking" />
</xs:schema>