Memorama-Client/Memorama-Client/Connected Services/ServidorMemorama/Servicios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Servicios" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IContratos_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contratos" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContratos_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IContratos_RegistrarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarUsuario" />
  </wsdl:message>
  <wsdl:message name="IContratos_ValidarRegistro_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarRegistro" />
  </wsdl:message>
  <wsdl:message name="IContratos_EnviarMensaje_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarMensaje" />
  </wsdl:message>
  <wsdl:message name="IContratos_AgregarUsuariosLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarUsuariosLobby" />
  </wsdl:message>
  <wsdl:message name="IContratos_RankingUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:RankingUsuarios" />
  </wsdl:message>
  <wsdl:message name="IContratos_Empezarjuego_InputMessage">
    <wsdl:part name="parameters" element="tns:Empezarjuego" />
  </wsdl:message>
  <wsdl:message name="IContratos_PasarCarta_InputMessage">
    <wsdl:part name="parameters" element="tns:PasarCarta" />
  </wsdl:message>
  <wsdl:message name="IContratos_LogOutLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOutLobby" />
  </wsdl:message>
  <wsdl:message name="IContratos_GetLoginResult_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetLoginResult" />
  </wsdl:message>
  <wsdl:message name="IContratos_GetRegistroResultado_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetRegistroResultado" />
  </wsdl:message>
  <wsdl:message name="IContratos_GetValidacionResultado_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetValidacionResultado" />
  </wsdl:message>
  <wsdl:message name="IContratos_GetUsuariosOnline_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetUsuariosOnline" />
  </wsdl:message>
  <wsdl:message name="IContratos_RecibirMensajes_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirMensajes" />
  </wsdl:message>
  <wsdl:message name="IContratos_GetRanking_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetRanking" />
  </wsdl:message>
  <wsdl:message name="IContratos_GetCarta_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetCarta" />
  </wsdl:message>
  <wsdl:message name="IContratos_GetJuego_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetJuego" />
  </wsdl:message>
  <wsdl:portType name="IContratos">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IContratos/Login" message="tns:IContratos_Login_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IContratos/RegistrarUsuario" message="tns:IContratos_RegistrarUsuario_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarRegistro">
      <wsdl:input wsaw:Action="http://tempuri.org/IContratos/ValidarRegistro" message="tns:IContratos_ValidarRegistro_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarMensaje">
      <wsdl:input wsaw:Action="http://tempuri.org/IContratos/EnviarMensaje" message="tns:IContratos_EnviarMensaje_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarUsuariosLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/IContratos/AgregarUsuariosLobby" message="tns:IContratos_AgregarUsuariosLobby_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RankingUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IContratos/RankingUsuarios" message="tns:IContratos_RankingUsuarios_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Empezarjuego">
      <wsdl:input wsaw:Action="http://tempuri.org/IContratos/Empezarjuego" message="tns:IContratos_Empezarjuego_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PasarCarta">
      <wsdl:input wsaw:Action="http://tempuri.org/IContratos/PasarCarta" message="tns:IContratos_PasarCarta_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogOutLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/IContratos/LogOutLobby" message="tns:IContratos_LogOutLobby_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLoginResult">
      <wsdl:output wsaw:Action="http://tempuri.org/IContratos/GetLoginResult" message="tns:IContratos_GetLoginResult_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRegistroResultado">
      <wsdl:output wsaw:Action="http://tempuri.org/IContratos/GetRegistroResultado" message="tns:IContratos_GetRegistroResultado_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetValidacionResultado">
      <wsdl:output wsaw:Action="http://tempuri.org/IContratos/GetValidacionResultado" message="tns:IContratos_GetValidacionResultado_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsuariosOnline">
      <wsdl:output wsaw:Action="http://tempuri.org/IContratos/GetUsuariosOnline" message="tns:IContratos_GetUsuariosOnline_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecibirMensajes">
      <wsdl:output wsaw:Action="http://tempuri.org/IContratos/RecibirMensajes" message="tns:IContratos_RecibirMensajes_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRanking">
      <wsdl:output wsaw:Action="http://tempuri.org/IContratos/GetRanking" message="tns:IContratos_GetRanking_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarta">
      <wsdl:output wsaw:Action="http://tempuri.org/IContratos/GetCarta" message="tns:IContratos_GetCarta_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJuego">
      <wsdl:output wsaw:Action="http://tempuri.org/IContratos/GetJuego" message="tns:IContratos_GetJuego_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IContratos" type="tns:IContratos">
    <wsp:PolicyReference URI="#NetTcpBinding_IContratos_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IContratos/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RegistrarUsuario">
      <soap12:operation soapAction="http://tempuri.org/IContratos/RegistrarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ValidarRegistro">
      <soap12:operation soapAction="http://tempuri.org/IContratos/ValidarRegistro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="EnviarMensaje">
      <soap12:operation soapAction="http://tempuri.org/IContratos/EnviarMensaje" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AgregarUsuariosLobby">
      <soap12:operation soapAction="http://tempuri.org/IContratos/AgregarUsuariosLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RankingUsuarios">
      <soap12:operation soapAction="http://tempuri.org/IContratos/RankingUsuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Empezarjuego">
      <soap12:operation soapAction="http://tempuri.org/IContratos/Empezarjuego" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="PasarCarta">
      <soap12:operation soapAction="http://tempuri.org/IContratos/PasarCarta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="LogOutLobby">
      <soap12:operation soapAction="http://tempuri.org/IContratos/LogOutLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetLoginResult">
      <soap12:operation soapAction="http://tempuri.org/IContratos/GetLoginResult" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegistroResultado">
      <soap12:operation soapAction="http://tempuri.org/IContratos/GetRegistroResultado" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValidacionResultado">
      <soap12:operation soapAction="http://tempuri.org/IContratos/GetValidacionResultado" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsuariosOnline">
      <soap12:operation soapAction="http://tempuri.org/IContratos/GetUsuariosOnline" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibirMensajes">
      <soap12:operation soapAction="http://tempuri.org/IContratos/RecibirMensajes" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRanking">
      <soap12:operation soapAction="http://tempuri.org/IContratos/GetRanking" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarta">
      <soap12:operation soapAction="http://tempuri.org/IContratos/GetCarta" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJuego">
      <soap12:operation soapAction="http://tempuri.org/IContratos/GetJuego" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicios">
    <wsdl:port name="NetTcpBinding_IContratos" binding="tns:NetTcpBinding_IContratos">
      <soap12:address location="net.tcp://localhost:8090/Contratos" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/Contratos</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>JONATHAN-LAP\jhoni</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>